
@{
    ViewData["Title"] = "Jobs";
    var status = (int)ViewBag.selecteStatus;
}
@model IList<HiringGame.Application.Dtos.JobDto>
<!-- DataTables -->
<link rel="stylesheet" href="plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="plugins/datatables-responsive/css/responsive.bootstrap4.min.css">




<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Jobs List</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">Jobs</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-header">

                            @if (status == 1)
                            {
                                <h5 class="m-0">Active Jobs</h5>
                            }
                            else if (status == 2)
                            {
                                <h5 class="m-0">Inactive Jobs</h5>
                            }
                            else
                            {
                                <h5 class="m-0">All Jobs</h5>
                            }

                            <a style="float:right" asp-controller="Jobs" asp-action="Create" class="btn btn-primary">Add New</a>
                        </div>
                        <div class="card-body">
                            
                            
                            <div class="btn-group">
                                <a style="color: #fff;" asp-controller="Jobs" asp-action="Index" asp-route-status="1" class="@("btn btn-primary " + (status==1?"active":""))">Active</a>
                                <a style="color: #fff;" asp-controller="Jobs" asp-action="Index" asp-route-status="2" class="@("btn btn-primary " + (status==2?"active":""))">Inactive</a>
                                <a style="color: #fff;" asp-controller="Jobs" asp-action="Index" asp-route-status="3" class="@("btn btn-primary " + (status==3?"active":""))">All</a>
                            </div>
                            
                            <table id="tableData" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Job Name</th>
                                    <th>Status</th>
                                    <th>Edit</th>
                                </tr>

                                </thead>
                                <tbody>
                                @foreach (var job in Model)
                                {
                                    <tr>
                                        <td>@job.Id</td>
                                        <td>@job.Name</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" disabled="disabled" checked="@job.IsActive">
                                                <label class="form-check-label">Active</label>
                                            </div>
                                        </td>
                                        <td>
                                            <a asp-controller="Jobs" asp-action="Edit" asp-route-id="@job.Id" class="btn  bg-gradient-success">Edit</a>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
                <!-- /.col-md-6 -->
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>



@section Scripts
{
    <!-- DataTables -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script>
        $(function () {

            $('#tableData').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true
            });
        });
    </script>
}
